/*Page general setting*/

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #222831;
}

/* Font General*/

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/*Body*/

body {
    background-color: #e3e3e3;
    color: #222831;
}

.logo-img {
    display: block;
    width: 14vw;
    margin-left: 10vw;
    margin-bottom: 1vw;
    min-width: 100px;
    transition: width 0.3s;

}


.logo-img:hover {
    width: 16vw;

}

.main {

    width: 100%;
    margin-top: 0.5vw;
    
   
}

.des1,
.des2,
.des3 {
    color:#5c715e;
    font-size: 1.3rem;
    margin-bottom: 0;
    
}

.des1 {
    text-align: start;
    
}

.des2,
.des3 {
    text-align: end;
}



/* Body-Navbar */

.navbar-top {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #5c715e;
    padding: 0;
    margin: 0;
    z-index: 999;
    margin-bottom: 1vw;
    justify-content: center;
    box-shadow: 0px 1px 4px 0px #222831;
}

a {
    text-decoration: none;
    color: #f2f9f1;
    font-size: 1.2rem;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0vw;
    margin: 0;
}

li {
    display: block;
    padding-right: 1vw;
    padding-left: 1vw;
    transition-timing-function: ease;
    color: #f2f9f1;
    text-decoration: none;

}

.FL {
    color: #f2f9f1;
    font-size: 1.2rem;
}

li:hover {
    cursor: pointer;
}

.navbut {
    width: 25vw;
    padding: 2.5vw;
    background-color: #5c715e;
    border: none;
    transition-timing-function: ease;
    transition: background-color 0.3s;
    border-bottom: #222831;
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;

}

.navbut:hover {
    background-color: #222831;
}

/* Body-photos grid */

.gallery-container {

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin: auto;
    margin-top: 1vw;
    width: 70vw;
    height: 1px;
    background-color: #222831;
}

figure {
    display: grid;
    margin:auto;
}

img {
    display: grid;
    margin: auto;
    margin: 1vw;
    max-width: 80vw;
    max-height: 50vw;
    border-radius: 3vw;
}

.im3 {
    position: absolute;
    margin: auto;
    right: 1px;
    left: 1px;
    max-width: 85vw;
    max-height: 85vw;
    z-index: 2;

}

.im4 {
    justify-content: end;
    align-items: center;
}

.im5 {
    align-items: center;
    justify-content: center;
}

/*Media Query*/

@media screen and (min-width: 678px) {

    ul {
        flex-direction: row;
    }

    .navbar-top {
        margin-bottom: 0;
    }

    .navbut {
        width: 15vw;
    }

    .gallery-container {
        display: grid;
        position:relative;
        bottom:50px;
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        column-gap: 0px;
        width: 70vw;
        margin-top: 0;

    }

    figure {
        justify-content: center;
        margin: auto;
        padding-top: 0vw;
        margin: 0;
    }

    img {
        border-radius: 6px;
    }

    

    .im1 {
        position:relative;
        top:110px;
        left:65px;
        max-height: 300px;
        max-width: 280px;

    }

    .des1 {
        position:relative;
        top:100px;
        left:130px;
    }

    .im2 {
        position:relative;
        top:50px;
        justify-content: end;
        align-self: end;
        max-height: 250px;
        max-width: 250px;

    }

    .des2 {
        position:relative;
        top:37px;
        left:-140px;
    }



    .im3 {
        position: absolute;
        align-self: center;
        justify-content: center;
        z-index: 2;
        max-height: 450px;
        max-width: 450px;

    }

    .im4 {
        max-height: 250px;
        max-width: 250px;

    }

    .im5 {
        position: relative;
        left:120px;
        bottom:85px;
        max-height: 250px;
        max-width: 250px;
    }

    .im6 {
        position:relative;
        justify-content: start;
        align-self: center;
        bottom:25px;
        max-height: 250px;
        max-width: 250px;
    }
    
    .des3 {
        position:relative;
        bottom:48px;
        right: 20px;
}
}