/*Page general setting*/

* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    color: #222831;
}

html {
    scroll-behavior: smooth;
}

/* Font */

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* Body */

body {
    background-color: #e3e3e3;
    color: #222831;
    overflow-x: hidden;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}

.social-icon {
    display: inline-block;
    right: 30px;
    top: 0px;
    border-radius: 0px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 4vw;
    height: 4vw;
    max-width: 50px;
    max-height: 50px;
    transition: all 0.2s;
}

.social-icon:hover {

    width: 5vw;
    max-width: 55px;
    max-height: 50px;
    
}

.logo-img {
    position:absolute;
    width: 16vw;
    margin-left: 1vw;
    top: 1px;
    margin-bottom: 1vw;
    min-width: 100px;
    max-width: 450px;
    border-radius: 0;
    transition: width 0.2s;

}

.logo-img:hover {
    width: 18vw;

}


.des1,
.des2,
.des3 {
    position: relative;
    color: #5c715e;
    font-size: 1rem;
    margin-bottom: 0;

}

.des1 {
    text-align: start;
    top: -10px;

}

.des2 {
    text-align: start;
    bottom: 10px;


}

.des3 {
    display: block;
    text-align: end;
    position: relative;
    bottom: 165px;


}

h2 {
    display: block;
    text-align: center;
    font-size: 30px;
}



/* Body-Navbar */

.navbar-top {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #5c715e;
    padding: 0;
    margin: 0;
    z-index: 999;
    margin-bottom: 1vw;
    justify-content: center;
    box-shadow: 0px 1px 2px 0px #222831;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #f2f9f1;
}

.nav-li {
    font-size: 18px;
    font-weight: 400;

}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0vw;
    margin: 0;
}

li {
    display: block;
    padding-right: 1vw;
    padding-left: 1vw;
    color: #f2f9f1;
    text-decoration: none;

}


li:hover {
    cursor: pointer;
}

.navbut {
    color: #e3e3e3;
    font-weight: 500;
    display: inline-block;
    padding: 10px;
    background-color: #5c715e;
    border: none;
    transition-timing-function: ease;
    transition: all 0.2s;
    border-bottom: #222831;
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    

}

.navbut:hover {
    color: #222831;
    

}

.anchor {
    /* Smooth scroll */
    display: block;
    position: relative;
    top: -90px;
    visibility: hidden;
}



/* Body-photos grid */

.gallery-container {

    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    margin: auto;
    margin-top: 1vw;
    width: 70vw;
    height: 490px;
    
}

figure {
    display: grid;
    margin: auto;
}

img {

    margin: 1vw;
    max-width: 200px;
    max-height: 200px;
    border-radius: 3vw;
}

.im3 {
    position: relative;
    margin: auto;
    right: -60px;
    top: -250px;
    max-width: 240px;
    max-height: 240px;
    z-index: 2;
}

.but-in-img {
    position:relative;
    top:-425px;
    background-color: #FFDF2B;
    margin:auto;
    color: #222831;
    margin-top: 20px;
    width:fit-content;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    box-shadow: 2px 3px 2px #222831;
    transition: all 0.2s;
    border-bottom-left-radius: 90px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 105px;
    border-top-left-radius: 105px;
    font-weight: 600;
    align-self: end;
    transition-timing-function: ease;


}

.but-in-img:hover {
    padding-left: 60px;
    padding-right: 60px;
    color: #e3e3e3;
    background-color: #222831;
    
}

.but-in-img:active {
    position: relative;
    top: -422px;
    left: 3px;
    padding-left: 60px;
    padding-right: 60px;
    color: #e3e3e3;
    background-color: #222831;
    box-shadow: none;
}


.im4 {
    position: relative;
    display: none;
}

.im5 {
    position: relative;
    right: 70px;
    display: none;
}

.im6 {
    position: relative;
    bottom: 155px;
}

/*Skill section*/

.skill-container {
    background-color: #5c715e;
    margin-top: 95px;
}

.skill-grid {
    position: static;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: fit-content;
    background-color: #5c715e;
    margin-top: 30px;
    row-gap: 0px;
    
}

.skill-title {
    padding-top: 25px;
    padding-bottom: 10px;
    color: #e3e3e3;
    font-size: 30px;
    line-height: 30px;

}

h3 {
    color: #e3e3e3;
    margin-bottom: 20px;
    margin-top: px;
    font-size: 25px;
}


.cod-des {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 500;

}

.sec-sch {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 15px;

}

.star {
    display: inline-block;
    width: 20px;
    margin-right: 0;
    margin-left: 0;
    padding-bottom: 4px;

}

.logorev {
    display: inline-block;
    width: 60px;
    height: 70px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #222831;
    transition: width 0.3s;
    margin-right: 10px;
    ;
}

.logorev:hover {
    width: 80px;
}

.logorev:active {
    position: relative;
    top: 3px;
    left: 3px;
}

.square2 {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 45px;
}


.square3 {
    padding-bottom: 20px;
}

.but-des {

    background-color: #FFDF2B;
    color: #222831;
    margin-top: 20px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    box-shadow: 3px 3px 2px #222831;
    transition: all 0.2s;
    font-weight: 600;
    align-self: end;
    transition-timing-function: ease;
}

.but-des:hover {
    padding-left: 65px;
    padding-right: 65px;
    color: #e3e3e3;
    background-color: #222831;


}

.but-des:active {
    position: relative;
    top: 3px;
    left: 3px;
    padding-left: 71px;
    padding-right: 71px;
    color: #e3e3e3;
    background-color: #222831;
    box-shadow: none;

}

.icon-subj {

    width: 20px;
    height: 20px;
    border-radius: 0;
}

.but-deact {

    background-color: #5c715e;
    border: 2px solid #4a5a4b;
    color: #4a5a4b;
    width:fit-content;
    margin-top: 20px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-size: 20px;
    transition: all 0.2s;
    font-weight: 600;
    align-self: end;
    transition-timing-function: ease;


}

.but-deact:hover {
    
    color: #e3e3e3;
    opacity:0.7;
    
}
/* Bio section */

.bio-container {
    display:flex;
    background-color: #e3e3e3;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    
}

.biography {
    margin-top: 15px;
    color: #50545C;
    font-weight: 500;
    font-size: 22px;
    padding-top: 20px;
    padding-left: 4vw;
    padding-right: 4vw;
    column-count: 1;
    column-gap: 25px;
    line-height: 27px;
    font-size: 27px;
}

.bio-title {

color: #5c715e;
font-size: 30px;
line-height: 30px;
}

.bio-img-container {
    display: flex;
    justify-content: center;
}

.bio-img {
    width:80vw;
    padding-left: 10px;
    padding-right: 10px;
    width:auto;
    height:auto;
    max-width: 550px;
    max-height: 600px;
}

.bio-timeline-title {
    background-color: #5c715e;
    color:#e3e3e3;
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 0;
}

.bio-timeline-grid {
    display:flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: 3(repeat, 1fr);
    width: 100%;
    background-color: #5c715e;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.education1,
.education2,
.education3 {
    display:flex;
    justify-content:start;
    padding-right: 20px;
    width:100%;
    border-left: 4px solid #e3e3e3;
    border-radius: 10px;
    height:fit-content;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.time-title {
    
    display:inline-block;
    font-size: 22px;
    color: #e3e3e3;
    font-weight: 600;
    
}

.bio-logo {
    display:flex;
    width:20px;

}

/*Form page*/

.form-container {
    display:flex;
    flex-direction: column;
    width: 85vw;
    max-width:600px;
    padding-left:50px;
    padding-right:50px;
    justify-content: center;
    margin: auto;
}


/*Media Query*/

@media screen and (min-width: 678px) {

    ul {
        flex-direction: row;
    }

    .des1,
    .des2,
    .des3 {

        margin-bottom: 0;
        font-size: 1.3rem;
    }

    .navbut {
        width: 15vw;
    }

    .nav-li {
        font-size: 32px;
        font-weight: 500;
    }

    .main {
        display: block;
        margin: auto;
            overflow-x: hidden;
            overflow-y: hidden;
    }

    .gallery-container {
        display: grid;
        position: relative;
        bottom: 50px;
        grid-template-columns: repeat(2, 350px);
        justify-content: center;
        align-content: start;
        column-gap: 0px;
        width: 70vw;
        height: 730px;
        margin: auto;


    }

    figure {
        justify-content: center;
        margin: auto;
        padding-top: 0;
        margin: 0;
    }

    img {
        border-radius: 5px;
    }


    .im1 {
        position: relative;
        top: 110px;
        left: 65px;
        max-height: 300px;
        max-width: 280px;

    }

    .des1 {
        position: relative;
        text-align: start;
        top: 99px;
        left: 100px;
    }

    .im2 {
        position: relative;
        top: 50px;
        justify-content: end;
        align-self: center;
        max-height: 250px;
        max-width: 250px;

    }

    .des2 {
        position: relative;
        top: 25px;
        left: 140px;
    }



    .im3 {
        position: relative;
        justify-content: center;
        left: 160px;
        top: -100px;
        z-index: 2;
        max-height: 450px;
        max-width: 450px;

    }

    .im4 {
        position: relative;
        top: 10px;
        right: 25px;
        max-height: 250px;
        max-width: 250px;
        display: block;
        /*need due to "none" on mobile v.*/


    }

    .im5 {
        position: relative;
        left: 10px;
        bottom: 325px;
        max-height: 250px;
        max-width: 250px;
        display: block;
        /*need due to "none" on mobile v.*/
    }

    .im6 {
        position: relative;
        justify-content: start;
        align-self: center;
        bottom: 180px;
        left: -100px;
        max-height: 250px;
        max-width: 250px;
    }

    .des3 {
        position: relative;
        bottom: 205px;
        right: 117px;
    }

    /*Skills container & skills grid*/

    .skill-container {
        margin-top: 5px;
    }

    .skill-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding-bottom: 40px;

    }

    .cod-des {
        text-align: center;
        font-size: 27px;

    }

    .square2 {

        align-content: start;
        justify-content: start;
    }

    .square3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-right: 20px;
        padding-left: 20px;
    

    }

    .icon-subj {
        border-radius: 0;
        width: 30px;
        height: 30px;
    }

    .star {
        width: 30px;
        height: 30px;
    }

    .skill-title {
        font-size: 50px;
    }

    .bio-title {
        font-size: 50px;
    }

    h3 {
        font-size: 30px;
    }

    .sec-sch {
        display: inline-block;
        font-size: 20px;
        margin-bottom: 15px;

    }

    .but-in-img {
        font-size: 26px;
        font-weight: 500;
        top: -720px;
        left: 380px;
        z-index: 4;
        padding-left: 68px;
        border-bottom-right-radius: 90px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 125px;
        border-top-right-radius: 105px;
        padding-right: 68px;
        padding-top: 25px;
        padding-bottom: 25px;;
        transition: all 0.2s;
        transition-timing-function: ease;
    }

    .but-in-img:hover {
        padding-left: 85px;
        padding-right: 85px;
        color: #e3e3e3;
        background-color: #222831;
    
    
    }
    
    .but-in-img:active {
        position: relative;
        color: #e3e3e3;
        top: -717px;
        left: 383px;
        color: #e3e3e3;
        background-color: #222831;
        box-shadow: none;
    
    }

    .bio-container {
        
        flex-direction: column;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 50px;
        width: 100%;
        
    }
    /*Bio - About me*/

    .bio-timeline-grid {
        display:flex;
        flex-direction: row;
        grid-template-columns: 1fr;
        grid-template-rows: 3(repeat, 1fr);
        width: 100%;
        background-color: #5c715e;
        justify-content: end;
        padding-left: 20px;
        padding-right: 20px;
    }

    .bio-timeline-title {
        font-size: 50px;
    }

    .education3{
        justify-content: space-between;
    }

    .education1,
    .education2,
    .education3 {
        font-size: 20px;
    }
}
@media screen and (min-width: 2400px) {

    .skill-container {
        margin-top: 95px;
    }



}